.ipynb_checkpoints/
.snakemake/
bin/software/
data/
infra/
logs/
reference_alignment/
raw_data/
results/
undetermined_demultiplex_data/
jovian_*
sample_sheet*
backup*
DELME*
delme*
*.fa
*.fasta
*.stderr
*.stdout
LSF_Snakemake.*
private_*
.github/
.vscode/
config/variables.yaml
PZN_*/
core.*
archive_*.tar
archive_*.tar.gz
.nfs*
.ncbirc

docs/build
docs/source/_build