*.fa
*.fasta
*.stderr
*.stdout
.github/
.ipynb_checkpoints/
.jovianrc
.ncbirc
.nfs*
.snakemake/
.vscode/
DELME*
LSF_Snakemake.*
PZN_*/
archive_*.tar
archive_*.tar.gz
backup*
bin/software/
config/variables.yaml
core*
data/
delme*
docs/build
docs/source/_build
infra/
jovian_*
logs/
private_*
raw_data/
reference_alignment/
results/
sample_sheet*
undetermined_demultiplex_data/
*.png
*_pycache_*
*.pyc
