.ipynb_checkpoints/
.snakemake/
bin/software/
data/
infra/
logs/
raw_data/
results/
undetermined_demultiplex_data/
jovian_*
sample_sheet.yaml
backup*
DELME*
LSF_Snakemake.*
private_*
.github/
.vscode/
profile/variables.yaml
archive*